---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import { getAltUrl, getLangFromUrl, useTranslation } from "../../config";
import BasicLayout from "../../layouts/BasicLayout.astro";
import Button from "../Button.astro";
import { STATUS_IMAGES } from "../../utils";

interface Props {
  description: string;
  kind: keyof typeof STATUS_IMAGES;
  pageTitle?: string;
  redirect: string;
  redirectHref?: string;
  title: string;
}

const {
  description,
  kind,
  pageTitle,
  redirect,
  redirectHref = "/",
  title,
} = Astro.props;

const { url } = Astro;
const [language] = getLangFromUrl(url);
const { t } = useTranslation({ language });

const images = STATUS_IMAGES[kind];

const redirectTo = getAltUrl(url, language, redirectHref);
---

<BasicLayout
  className="gap-8 md:p-0 md:w-[90%] lg:w-[60%]"
  pageTitle={t(pageTitle || "")}
  preventRefBehavior
>
  <div class="flex flex-col items-center gap-8 mt-12 mb-16 md:my-0">
    <hgroup class="flex flex-col items-center gap-4 text-center">
      <h1 class="text-2xl md:text-4xl font-bold">{t(title)}</h1>

      <h4 class="text-lg md:text-xl">
        {t(description)}
      </h4>
    </hgroup>
  </div>

  {
    images.map((image) => (
      <Image
        alt="Not found"
        class="md:h-72 hidden"
        data-isimage="true"
        loading="eager"
        src={image}
      />
    ))
  }

  <Button className={`
    px-4 py-2 group grow-0 rounded-lg
    duration:500 transition-all
    hover:bg-mauve hover:text-crust
  `}
>
    <a class="flex items-center gap-4" href={redirectTo}>
      <Icon name="fa6-solid:arrow-left" />
      <span class="group-hover:underline">{t(redirect)}</span>

      <Icon
        class={`
          -rotate-180 animate-blink
          max-w-0 overflow-hidden
          group-hover:max-w-8
          duration-250 transition-all
        `}
        name="fa6-solid:shuttle-space"
      />
    </a>
  </Button>
</BasicLayout>

<script is:inline>
  function randInt(max) {
    return Math.floor(Math.random() * max);
  }

  function shouldRecalculateImage() {
    return getCurrentRef() !== location.pathname;
  }

  function toggleItem(item) {
    if (typeof item !== "object" || typeof item.className !== "string") return;

    item.classList.toggle("hidden");
  }

  function displayRandomImage() {
    if (!shouldRecalculateImage()) return;

    const images = Array.from(
      document.querySelectorAll('[data-isimage="true"]')
    );
    if (!images?.length) return;

    try {
      toggleItem(images[randInt(images.length)]);
    } catch (e) {
      console.error("Could not display random image as intended...", e);

      toggleItem(images[0]);
    }

    setCurrentRef();
  }

  function setupImageScript(interval = 200) {
    document.addEventListener("before_page_ref", () => {
      displayRandomImage();
    });

    setInterval(displayRandomImage, interval);
  }

  setupImageScript();
</script>
