---
import { SKILLS } from "../../../../data";
import SkillImage from "./SkillImage.astro";

const cardFaceClass = `
  absolute inset-0
  h-full w-full rounded-lg font-bold
  flex flex-col items-center
  justify-center text-center
`;
---

<ul
  class="flex flex-row justify-center flex-wrap gap-4 list-none font-code"
  id="skill-list"
>
  {
    SKILLS.map(({ front, back, id }) => (
      <li
        class="group w-12 h-12 md:w-28 md:h-28 [perspective:1000px]"
        id={id}
        title={back.content}
      >
        <div
          class={`
              shadow-crust
              relative h-full w-full
              rounded-lg shadow-xl
              border-crust border
              transition-all duration-700
              [transform-style:preserve-3d]
              group-hover:[transform:rotateY(180deg)]
              group-active:[transform:rotateY(180deg)]
            `}
        >
          <div
            class={cardFaceClass}
            id={`${id}-front`}
            style={`background-color: ${front.bg}`}
          >
            <SkillImage skill={{ back, front, id }} />
          </div>

          <div
            class={`
                ${cardFaceClass}
                [transform:rotateY(180deg)]
                [backface-visibility:hidden]
              `}
            id={`${id}-back`}
            style={`background-color: ${back.bg}; color: ${back.text}; ${back.style || ""}`}
          >
            <span class="rounded-lg py-0.5 px-1 md:p-0 bg-inherit text-inherit md:bg-transparent">
              {back.content}
            </span>
          </div>
        </div>
      </li>
    ))
  }
</ul>
