---
import { getLangFromUrl, useTranslation } from "../../../config";
import { SKILLS } from "../../../assets/data";

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });

const cardFaceClass = `
  absolute inset-0
  h-full w-full rounded-lg font-bold
  flex flex-col items-center
  justify-center text-center
`;
---

<section class="w-full flex flex-col gap-8 pt-12" id="skills">
  <span class="flex flex-row gap-4">
    <h1 class="text-xl font-bold">{"> "}My skills</h1>

    <button
      class="text-mauve cursor-pointer duration-500 transition-all hover:opacity-60"
      onclick="shuffle()"
      title={t("commons.shuffle")}
    >
      <i class="fa-solid fa-shuffle"></i>
    </button>
  </span>

  <ul
    class="flex flex-row justify-center flex-wrap gap-4 list-none font-code"
    id="skill-list"
  >
    {
      SKILLS.map(({ front, back, id }) => (
        <li
          class="group w-12 h-12 md:w-28 md:h-28 [perspective:1000px]"
          id={id}
          title={back.content}
        >
          <div
            class={`
                relative h-full w-full
                rounded-lg shadow-xl
                border-mauve border
                transition-all duration-500
                [transform-style:preserve-3d]
                group-hover:[transform:rotateY(180deg)]
                group-active:[transform:rotateY(180deg)]
            `}
          >
            <div
              class={cardFaceClass}
              id={`${id}-front`}
              style={`background-color: ${front.bg}`}
            >
              {front.isSrc ? (
                <img
                  alt={back.content}
                  class="w-8 md:w-16"
                  src={front.content}
                />
              ) : (
                <i class={`${front.content} text-4xl md:text-6xl`} />
              )}
            </div>

            <div
              class={`
                ${cardFaceClass}
                [transform:rotateY(180deg)]
                [backface-visibility:hidden]
              `}
              id={`${id}-back`}
              style={`background-color: ${back.bg}; color: ${back.text}; ${back.style || ""}`}
            >
              <span class="rounded-lg py-0.5 px-1 md:p-0 bg-inherit text-inherit md:bg-transparent">
                {back.content}
              </span>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<script lang="js">
  function randInt(max) {
    return Math.floor(Math.random() * max);
  }

  function shuffle() {
    try {
      const skills = document
        .getElementById("skill-list")
        ?.querySelectorAll("li");

      for (const skill of skills) {
        skill.style.order = randInt(skills.length);
      }
    } catch (error) {
      console.warn("Could not shuffle skills...", error);
    }
  }

  function onMount() {
    shuffle();
  }

  onMount();
</script>
