---
import { Icon } from "astro-icon/components";

import {
  PROJECT_STATUS_COLOR,
  PROJECT_STATUS_ICON,
  ProjectStatus,
} from "../../../../../data";

import { getLangFromUrl, useTranslation } from "../../../../../config";

interface Props {
  icon: string;
  name: string;
  status: ProjectStatus;
}

const [language] = getLangFromUrl(Astro.url);
const { t } = useTranslation({ language });

const { icon, name, status } = Astro.props;

const statusIcon = PROJECT_STATUS_ICON[status];
---

<h3 class="w-full text-xl font-bold flex gap-4 items-center">
  <Icon class="text-lg" name={`fa6-solid:${icon || "code"}`} />

  <span>{name}</span>

  <span
    class={`
      ml-auto text-xs border
      flex gap-2 items-center
      border-${PROJECT_STATUS_COLOR[status]}
      rounded-full px-2 py-1`}
  >
    <span>
      <Icon class={statusIcon.className} name={statusIcon.name} />
    </span>

    <span>{t(status)}</span>
  </span>
</h3>
